[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
flaskpusher = "*"
numpy = "*"
torch = "*"
yaml = "*"
pyyaml = "*"
nltk = "*"
fuzzywuzzy = "*"
scipy = "*"
gensim = "*"

[requires]
python_version = "3.6"
